body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    text-align: center;
}

header {
    padding: 60px 20px;
    background: #1b1b1b;
}

h1 {
    font-size: 48px;
}

.hero {
    min-height: 100vh; 

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;

    background-size: cover;
    background-position: center;

    animation: backgroundchange 20s infinite;

    z-index: -2;
}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;

    background: rgba(0, 0, 0, 0.55);

    z-index: -1;
}

section {
    padding: 40px 20px;
}

.card {
    max-width: 700px;
    margin: auto;
    background: #1b1b1b;
    padding: 30px;
    border-radius: 10px;
}

footer {
    padding: 20px;
    background: #000;
}

.logo {
    width: 300px;
    max-width: 80%;
    height: auto;
    margin-bottom: 20px;
}
